@using BlogStop.Enums;
@using BlogStop.Services.Intefaces
@using BlogStop.Services.Interfaces
@inject IImageService _ImageService
@inject IBlogPostService _blogPostService



@{
    IEnumerable<Category> categories = (await _blogPostService.GetCategoriesAsync()).Take(4);
    IEnumerable<BlogPost> popularPosts = (await _blogPostService.GetPopularBlogPosts()).Take(3);

}


<div class="sidebar-inner">




    <!-- Start Single Widget  -->
    <div class="axil-single-widget widget widget_categories mb--30">
        <ul>

            @foreach (Category category in (await _blogPostService.GetCategoriesAsync()).Take(4))
            {

                <li class="cat-item">
                    <a asp-controller="Categories" asp-action="Details" asp-route-id="@category.Id" class="inner">
                        <div class="thumbnail">
                            <img src="@_ImageService.ConvertByteArrayToFile(category.ImageData!, category.ImageType!, (int)DefaultImage.CategoryImage)" alt="">
                        </div>
                        <div class="content">
                            <h6 class="title">@category.Name</h6>
                        </div>
                    </a>
                </li>

            }


        </ul>
    </div>
    <!-- End Single Widget  -->
    <!-- Start Single Widget  -->
    <div class="axil-single-widget widget widget_search mb--30">
        <h5 class="widget-title">Search</h5>
        <form asp-action="SearchIndex" asp-controller="Home" method="post">
            <div class="axil-search form-group">
                <button type="submit" class="search-button"><i class="fal fa-search"></i></button>
                <input type="text" class="form-control" placeholder="Search" name="searchString">
            </div>
        </form>
    </div>
    <!-- End Single Widget  -->
    <!-- Start Single Widget  -->
    <div class="axil-single-widget widget widget_postlist mb--30">
        <h5 class="widget-title">Popular on Blogar</h5>
        <!-- Start Post List  -->
        <div class="post-medium-block">

            <!-- Start Single Post  -->
            @foreach (BlogPost blogPost in (await _blogPostService.GetPopularBlogPosts()).Take(3))
            {
                <div class="content-block post-medium mb--20">
                    <div class="post-thumbnail">
                        <a asp-action="Details" asp-controller="BlogPosts" asp-route-slug="@blogPost.Slug">
                            <img src="@_ImageService.ConvertByteArrayToFile(blogPost.ImageData!, blogPost.ImageType!, (int)DefaultImage.BlogPostImage)" alt="">
                        </a>
                    </div>
                    <div class="post-content">
                        <h6 class="title">
                            <a asp-action="Details" asp-controller="BlogPosts" asp-route-slug="@blogPost.Slug">
                                @blogPost.Title
                            </a>
                        </h6>
                        <div class="post-meta">
                            <ul class="post-meta-list">
                                <li> @blogPost.Created.ToString("MMM dd, yyyy")</li>
                                @if (Model.Comments.Count == 1)
                                {
                                    <li class="title">1 Comment</li>
                                }
                                else
                                {
                                    <li class="title">@Model.Comments.Count Comments</li>
                                }
                
                            </ul>
                        </div>
                    </div>
                </div>
            }

            <!-- End Single Post  -->
            <!-- Start Single Post  -->
            <!-- End Single Post  -->

        </div>
        <!-- End Post List  -->

    </div>
    <!-- End Single Widget  -->
    <!-- Start Single Widget  -->
    <div class="axil-single-widget widget widget_social mb--30">
        <h5 class="widget-title">Stay In Touch</h5>
        <!-- Start Post List  -->
        <ul class="social-icon md-size justify-content-center">
            <li><a <a asp-action="ContactMe" asp-controller="Home"><i class="far fa-envelope"></i></a></li>
            <li><a href="https://www.linkedin.com/in/sam-baschnagel-780a5b235/"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="https://github.com/SamBasch"><i class="fab fa-github"></i></a></li>
        </ul>
        <!-- End Post List  -->
    </div>
    <!-- End Single Widget  -->
    <!-- Start Single Widget  -->
    @*    <div class="axil-single-widget widget widget_instagram mb--30">
    <h5 class="widget-title">Instagram</h5>
    <!-- Start Post List  -->
    <!-- End Post List  -->
    </div>*@
    <!-- End Single Widget  -->
</div>